.container-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  /* Box model */
  margin-bottom: 40px;

  /* Typography */
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-align: center;

  /* Positioning */
  position: relative;
  z-index: 2;
}
.bg-title {
  /* Box model */
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  /* Typography */
  font-family: "Windsor", serif;
  color: var(--bg-title-color);
  font-size: 42px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.section-text {
  /* Box model */
  margin-bottom: 32px;
  /* Typography */
  color: var(--main-text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.9;
}

.gallery-toggle {
  padding: 10px;

  /* Visual */
  background-color: transparent;
  border: none;

  /* Transform */
  transition: transform 0.2s, box-shadow 0.5s ease-in-out;
}

.gallery-toggle:active {
  transform: scale(0.7) translateY(-50%);
}

.gallery-narrow {
  fill: var(--secondary-text-color);
}
.about-gallery-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden;
}

.about-gallery {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 240px;
  transition: transform 0.3s ease-in;
  overflow: hidden;
}

.about-img {
  object-fit: contain;
  border-radius: 6px;
  flex-shrink: 0;
  height: auto;
  display: none;
}

.about-img.active {
  display: block;
}

@media screen and (max-width: 768px) {
  .container-title-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .bg-title {
    font-size: 76px;
    position: absolute;
    top: 76px;
  }

  .section-title {
    margin-bottom: 44px;
    font-size: 24px;
    line-height: 2;
  }

  .section-text {
    margin-bottom: 36px;
  }

  .about-gallery {
    width: 500px;
    height: 300px;
  }
}

@media screen and (min-width: 1158px) {
  .bg-title {
    top: 60px;
    font-size: 100px;
  }
  .section-title {
    margin-bottom: 60px;
    font-size: 30px;
  }
  .section-text {
    margin-bottom: 60px;
    width: 734px;
    font-size: 16px;
  }

  .about-gallery {
    width: 600px;
    height: 500px;
  }
}
