.footer {
  background-color: var(--accent-background-color);
}

.footer-section {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.sm-list-footer {
  /* Box model */
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  /* Visual */
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.sm-footer-icon {
  stroke: var(--primary-text-color);
  fill: none;
}

.footer-text {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  line-height: 1.9;
}

.footer-email-icon {
  fill: var(--accent-color);
}

.footer-email-link {
  /* Box model */
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 8px;

  /* Typography */
  color: var(--primary-text-color);
  font-weight: 600;
  font-style: normal;

  /* Visual */
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.footer-copywrite {
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--additional-text-color);
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .sm-footer-container,
  .contact-footer-container {
    margin-bottom: 16px;
  }

  .footer-text {
    text-align: center;
  }

  .btn-scroll-top {
    display: none;
  }
}

@media screen and (max-width: 1158px) {
  .logo-footer-container {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .footer-email-link:hover,
  .footer-email-link:focus {
    color: var(--accent-color);
  }
}
