/* Common */
.header-hero-bg {
  width: 100%;
  height: 790px;
  position: absolute;
  z-index: -2;
  background-image: linear-gradient(
      180deg,
      rgba(26, 26, 26, 0) 0%,
      #1a1a1a 100%
    ),
    linear-gradient(0deg, rgba(33, 33, 33, 0.5) 0%, rgba(33, 33, 33, 0.5) 100%),
    url(../../images/boxes/hero-box-img.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.logo-header {
  color: whitesmoke;
  font-family: "Windsor", serif;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.logo-icon {
  fill: white;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 17px 0;
}

@media screen and (max-width: 767px) {
  .nav-menu-list,
  .sm-list {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .header-menu-btn {
    /* Box model */
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    /* Visual */
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .header-menu-icon {
    fill: whitesmoke;
  }
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }

  .logo-header {
    margin-right: 76px;
  }

  .sm-list {
    display: flex;
    gap: 10px;
  }

  .sm-icon {
    stroke: whitesmoke;
    fill: none;
  }
  .nav-menu {
    display: flex;
    padding-top: 28px;
    padding-bottom: 28px;
    align-items: center;
  }
}

@media screen and (min-width: 1158px) {
  .navigation {
    color: whitesmoke;
    font-weight: 600;
  }

  .navigation:hover,
  .navigation:focus,
  .navigation:active {
    color: #f1b043;
  }

  .nav-menu-list {
    display: flex;
    gap: 40px;
  }

  .nav-menu-list-item {
    width: calc((100% -80px) / 3);
  }

  .sm-list {
    margin-left: auto;
  }

  .sm-icon:hover,
  .sm-icon:focus,
  .sm-icon:active {
    stroke: #f1b043;
  }
}
