.hero-accent {
  font-family: "Windsor", serif;
  font-size: 40px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.page-title {
  /* Box model */
  margin-bottom: 16px;
  /* Typography */
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 7.2px;
  text-transform: capitalize;
  text-align: center;
}

.page-subtitle {
  /* Box model */
  margin-bottom: 40px;

  /* Typography */
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  line-height: 1.6em;
  text-align: center;
}

.hero-btn {
  /* Box model */
  display: flex;
  padding: 20px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  /* Typography */
  color: var(--accent-black);
  font-size: 20px;

  /* Visual */
  background-color: var(--accent-color);
  border: none;
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 44px;
  }

  .hero-accent {
    font-size: 52px;
  }

  .hero-btn {
    height: 72px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .page-title {
    font-size: 52px;
  }

  .hero-accent {
    font-size: 60px;
  }
  .page-subtitle {
    font-size: 14px;
  }

  .page-subtitle {
    width: 500px;
  }
}
