.container-content-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

/* ##### EVENT LIST PART ##### */

.list-custom-marker {
  display: inline-block;
  margin-right: 10px;
  line-height: 0;
}

.custom-marker-icon {
  fill: var(--accent-color);
}

.events-list-item {
  /* Box model */
  width: 350px;
  padding: 30px;

  /* Visual */
  background-color: var(--accent-background-color);
  border-radius: 6px;
}

.events-list-item:not(:last-child) {
  margin-bottom: 28px;
}

.events-list-item:nth-child(2n) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../../images/boxes/strips_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.events-list-item:nth-child(2n) * {
  color: var(--primary-text-color);
}

.events-list-item:hover,
.events-list-item:focus {
  background-color: var(--accent-color);
  background-image: linear-gradient(
    0deg,
    rgba(241, 176, 67, 0.5) 100%,
    rgba(241, 176, 67, 0.5) 100%
  );
}

.events-list-item:hover *,
.events-list-item:focus * {
  color: var(--accent-background-color);
  fill: var(--accent-background-color);
}

.location-town {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 24px;
}

.location-descr {
  color: var(--secondary-text-color);
  font-weight: 600;
}

.maps-link {
  padding: 15px 0;
  color: var(--additional-text-color);
  font-size: 12px;
}

.event-img-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .events-list-item {
    width: 600px;
    height: 150px;
  }
}

@media screen and (min-width: 1158px) {
  .container-content-wrapper {
    justify-content: space-between;
  }

  .maps-link {
    text-decoration: none;
  }

  .maps-link:hover,
  .maps-link:focus {
    text-decoration: underline;
    color: var(--accent-black);
  }

  /* ##### IMG PART ##### */
  .event-img {
    border-radius: 6px;
    fill: linear-gradient(
      180deg,
      rgba(38, 38, 38, 0) 0%,
      rgba(38, 38, 38, 0.5) 100%
    );
  }

  .event-img-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 30px;
  }
}
