.container-content-wrapper {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

/* ##### EVENT LIST PART ##### */

.events-list-wrapper {
}

.events-list {
}

.list-custom-marker {
  display: inline-block;
  margin-right: 10px;
  line-height: 0;
}

.custom-marker-icon {
  fill: #f1b043;
}

.events-list-item {
  /* Box model */
  width: 350px;
  padding: 30px;
  margin-bottom: 28px;

  /* Visual */
  background-color: #252525;
  border-radius: 6px;
}

.location-town {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 24px;
}

.location-descr {
  color: #b3b3b3;
  font-weight: 600;
}

.maps-link {
  padding: 15px 0;
  color: #85878c;
  font-size: 12px;
}

.map-wrapper {
  display: none;
}

@media screen and (min-width: 320px) {
}

@media (max-width: 767px) {
}

@media screen and (min-width: 768px) {
  .events-list-item {
    width: 600px;
    height: 150px;
  }
}

@media screen and (min-width: 1158px) {
  .container-content-wrapper {
    justify-content: space-between;
  }
  .maps-link:hover,
  .maps-link:focus {
    color: #f1b043;
  }

  /* ##### MAP PART ##### */
  .map-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 30px;
  }

  .map-text {
    /* Typography */
    color: #a6a6a6;
  }

  .map-container {
    position: relative;
  }

  .map-location-link {
    position: absolute;
    top: 115px;
    left: 75px;

    /* Visual */
    fill: #000;
    animation: bounce 0.5s alternate infinite;
  }

  .location-pin-icon:hover,
  .location-pin-icon:focus {
    fill: #f1b043;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
}
