.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.menu-list-item {
  /* Box model */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 60px) / 3);

  /* Visual */
  background-color: #252525;
  border-radius: 6px;
}

.menu-list-img {
  margin-bottom: 28px;
}

.menu-list-title {
  /* Box model */
  margin-bottom: 20px;
  /* Typography */
  font-family: "Windsor", serif;
  color: #d9d9d9;
  font-size: 32px;
  font-weight: 400;
  line-height: 0.93;
  text-align: center;
}

.menu-list-text {
  /* Box model */
  width: 230px;
  height: 60px;
  margin-bottom: 12px;

  /* Typography */
  color: #85878c;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

.menu-price {
  /* Box model */
  width: 230px;
  margin-bottom: 32px;

  /* Typography */
  color: #85878c;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: underline;
}
