.menu-list-item {
  /* Box model */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Visual */
  background-color: #252525;
  border-radius: 6px;
}

.menu-list-img {
  margin-bottom: 28px;
}

.menu-list-title {
  /* Box model */
  margin-bottom: 12px;
  /* Typography */
  font-family: "Windsor", serif;
  color: #d9d9d9;
  font-size: 32px;
  font-weight: 400;
  line-height: 0.93;
  text-align: center;
}

.menu-list-text {
  /* Box model */
  width: 230px;
  height: 60px;
  margin-bottom: 12px;

  /* Typography */
  color: #85878c;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

.menu-price {
  /* Box model */
  width: 230px;
  margin-bottom: 16px;

  /* Typography */
  color: #d9d9d9;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: underline;
}

@media screen and (min-width: 320px) {
}

@media (max-width: 767px) {
  .menu-list-item:not(:last-child) {
    margin-bottom: 12px;
  }

  .menu-list-item {
    width: 350px;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-list-text,
  .menu-price {
    width: 272px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .menu-list-title {
    margin-bottom: 20px;
  }

  .menu-price {
    margin-bottom: 32px;
  }

  .menu-list-item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .menu-list-item {
    width: calc((100% - 60px) / 3);
  }
}
