.container {
  margin: 0 auto;
  width: 1110px;
}

.hero-container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  /* Box model */
  padding: 105px 90px;
  height: 736px;
  margin-top: -160px;

  /* Visual */
  background-color: #333333;
  border-radius: 6px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);

  /* Positioning */
  position: relative;
}

.menu-container {
  padding: 105px 90px;
  position: relative;
}

@media screen and (min-width: 320px) {
  .container {
  }
}

@media (max-width: 767px) {
  .container {
  }
}

@media screen and (min-width: 768px) {
  .container {
  }
}

@media screen and (min-width: 1158px) {
  .container {
  }

  .footer-container {
    gap: unset;
  }
}
