.container {
  padding: 0;
}

.about-container {
  /* Visual */
  background-color: #333333;
  border-radius: 6px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.about-container,
.menu-container,
.location-container {
  position: relative;
}

@media screen and (min-width: 320px) {
  .container {
    min-width: 300px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .about-container {
    margin-top: -80px;
  }

  .about-container,
  .menu-container,
  .location-container {
    padding: 52px 35px 24px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 700px;
  }

  .about-container {
    margin-top: -100px;
    padding: 105px 90px 40px;
  }

  .menu-container {
    padding: 105px 72px 0;
  }

  .location-container {
    padding: 105px 15px 40px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 90px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1110px;
  }

  .hero-container {
    width: 1000px;
  }

  .about-container {
    margin-top: -160px;
  }

  .menu-container {
    padding: 105px 90px;
  }

  .footer-container {
    justify-content: space-around;
  }
}
